@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Kantumruy Pro", serif;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #111;
    border-bottom: #fff solid 2px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h3 {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    /* font-family: "Kantumruy Pro", serif; */
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links a {
    display: block;
    padding: 30px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    /* font-family: "Kantumruy Pro", serif; */
    text-transform: uppercase;
    transition: all ease-in-out 100ms;
}

.nav-links a:hover {
    background-color: #fff;
    color: #111;
    cursor: pointer;
}

.nav-links .nav-cta-button {
    color: #111;
    background-color: #fff;
    padding: 10px 18px;
    margin-left: 16px;
    border: #fff solid 2px;
    border-radius: 50px;
}

.nav-links .nav-cta-button:hover {
    border: #fff solid 2px;
    color: #fff;
    background-color: #111;
    /* cursor: pointer; */
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.hamburger .bar {
    flex-basis: 100%;
    height: 4px;
    background-color: #fff;
    margin: 3px;
    border-radius: 50px;
}

.welcome-again {
    text-align: center;
    padding: 5rem;
}

.welcome-again h1 {
    font-size: 72px;
    font-weight: 600;
}

.welcome-again p {
    font-size: 28px;
    padding-top: 1rem;
    font-weight: 500;
}

.products {
    background-color: #111;
    color: #fff;
    padding: 5rem;
    text-align: center;
}

.img-details {
    display: flex;
    gap: 4rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

.img-details .img img,
.all-showed-prod img {
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.img-details .details {
    text-align: left;
}

.img-details .details h1 {
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 3rem;
    background: #111111;
    background: linear-gradient(to right, #111111 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #111111 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

.img-details .details p {
    font-size: 36px;
    font-weight: 500;
}

.book-details {
    padding-top: 1rem;
    line-height: 2;
    list-style: inside;
    font-size: 20px;
    padding-bottom: 1rem;
}

.black-friday {
    background-color: #E42024;
    width: fit-content;
    padding: .5rem;
    border-radius: 5px;
}

.details h3 {
    font-size: 40px;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    padding-bottom: 2rem;
}

.details h6 {
    padding-top: 1rem;
    text-decoration-line: line-through;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
}

.details .buy-now {
    background-color: #fff;
    color: #111;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 18px;
    border: #fff solid 2px;
    border-radius: 50px;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.details .buy-now:hover {
    color: #fff;
    background-color: #111;
    border: #fff solid 2px;
}

.details .take-a-look {
    padding: 10px 18px;
    font-weight: 500;
    font-size: 18px;
    border: #fff solid 2px;
    border-radius: 50px;
    transition: all ease-in-out 100ms;
    cursor: pointer;
    margin-right: .25rem;
}

.details .take-a-look:hover {
    color: #111;
    background-color: #fff;
    border: #fff solid 2px;
}

.all-products {
    text-align: center;
    padding: 5rem;
}

.all-products h1 {
    font-size: 60px;
    font-weight: 600;
    /* padding-bottom: 3rem; */
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #111111 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all-showed-prod {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.all-showed-prod .book-title {
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.black-friday-all {
    color: #fff;
    text-align: center;
    background-color: #E42024;
    padding: .5rem;
    border-radius: 5px;
}

.all-showed-prod .price {
    font-family: "Space Grotesk", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.all-showed-prod .price-ori {
    font-family: "Space Grotesk", sans-serif;
    padding-top: 1rem;
    text-decoration-line: line-through;
}

.all-products .view-more-pro {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 18px;
    border: #111 2px solid;
    border-radius: 50px;
    transition: all ease-in-out 100ms;
}

.all-products .view-more-pro:hover {
    background-color: #111;
    color: #fff;
}

.book-1,
.book-2,
.book-3 {
    width: 30%;
}

.blck-fri {
    text-align: center;
    background-color: #E42024;
    color: #fff;
    padding: 5rem;
    /* display: flex;
    justify-content: space-around; */
}

.blck-news h1 {
    font-size: 60px;
    font-weight: 600;
    /* background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #E42024 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.blck-news p {
    margin-top: 1rem;
    padding: 10px 18px;
    font-size: 24px;
    font-weight: 500;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
}

.blck-news h4 {
    margin-top: 1rem;
    padding: 10px 18px;
    font-size: 36px;
    font-weight: 500;
    border: #fff 2px solid;
    border-radius: 10px;
    box-shadow: #fff 5px 5px;
}

.blck-news h5 {
    padding-top: 2rem;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2rem;
}

.blck-news a {
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 10px 18px;
    border-radius: 50px;
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

.blck-news a:hover {
    color: #E42024;
    background-color: #fff;
}

footer {
    padding: 3rem;
    background-color: #111;
    color: #fff;
}

footer img {
    border: 2px solid #fff;
}

footer h1 {
    padding-top: 1rem;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 3rem;
    /* background: #111111;
    background: linear-gradient(to right, #111111 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.back-top {
    text-align: center;
    cursor: pointer;
}

.back-top a {
    border: 2px solid #fff;
    padding: 10px 18px;
}

.all-links {
    display: flex;
    gap: 5rem;
}

.link-1,
.link-2,
.link-3,
.link-4,
.link-5 {
    font-size: 18px;
    line-height: 3;
    font-weight: 500;
    cursor: pointer;
}

/* responsive design */

@media (max-width: 768px) {

    nav {
        flex-wrap: wrap;
    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        height: 80px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        text-align: center;
        font-size: 24px;
    }

    .nav-links a:hover {
        background-color: #fff;
        color: #111;
    }

    .nav-links .nav-cta-button {
        padding: 30px 16px;
        margin-left: 0;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .nav-links .nav-cta-button:hover {
        background-color: #111;
        color: #fff;
    }
}